{% load i18n %}{% autoescape off %}Hello from {{ site_name }}!

You're receiving this e-mail because you or someone else has requested a password for your user account at {{ domain }}.
It can be safely ignored if you did not request a password reset.
{% trans "But if you requested password reset please go to the following page and choose a new password:" %}
{% block reset_link %}
Reset URL: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% block uid_and_token %}
UID: {{ uid }}
Token: {{ token }}
{% endblock %}

{% trans "Your Email, in case you've forgotten:" %} {{ user.email }}
{% trans "Thanks for using our site!" %}

{% endautoescape %}